<div class="jumbotron" style="margin-top: -6%;">
    <h2 style="margin-left: 1.5%;" class="page-header"><span class="glyphicon glyphicon-phone-alt"></span> Контакты </h2>
    <hr>
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><span class="glyphicon glyphicon-earphone"></span> Контакты</h4>
            <p><span class="glyphicon glyphicon-road"></span> <strong>ул. Военная 20 г. Харьков</strong> 61001 Украина (метро Площадь Восстания)</p>
        </div>
    </div>

    <div class="container">
        <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2157.102239940803!2d36.255413316305386!3d49.988084744024285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a091780f2f03%3A0x5fb2f2caf6a92118!2z0LLRg9C70LjRhtGPINCS0ZbQudGB0YzQutC-0LLQsCwgMjAsINCl0LDRgNC60ZbQsiwg0KXQsNGA0LrRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1469383767661" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p><span class="glyphicon glyphicon-earphone"></span> <strong>+38 (057) 719-77-19, +38 (057) 732-29-41</strong> - Водопроводные и канализацилнные трубы и фитинги, Конструкционные пластики</p>
            <p><span class="glyphicon glyphicon-earphone"></span> <strong>+38 (057) 717-51-59, +38 (067) 574-03-24</strong> - Водопроводные и канализацилнные трубы и фитинги, Конструкционные пластики, Пневматика</p>
            <p><span class="glyphicon glyphicon-earphone"></span> <strong>+38 (057) 714-52-40, +38 (093) 710-88-72</strong> - Продукция HIWIN, Системы линейного перемещения</p>
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p><span class="glyphicon glyphicon-envelope"></span> <strong>aplast_hiwin@i.ua</strong> - Продукция HIWIN, Системы линейного перемещения</p>
            <p><span class="glyphicon glyphicon-envelope"></span> <strong>aplast@i.ua</strong> - Водопроводные и канализацилнные трубы и фитинги</p>
            <p><span class="glyphicon glyphicon-envelope"></span> <strong>aplast_plastic@i.ua</strong> - Конструкционные пластики</p>
            <p><span class="glyphicon glyphicon-envelope"></span> <strong>aplast_pneumo@i.ua</strong> - Пневматика</p>
            <p><span class="glyphicon glyphicon-globe"></span> GPS координаты: 49°59’ северной широты; 36°15’ восточной долготы;</p>
        </div>
    </div>
</div>