<div class="jumbotron" style="margin-top: -2%">
    <div class="container">
        <h3 style="margin-left: 29%;"><strong><span class="glyphicon glyphicon-random"></span> Фитинги, глушители и трубки</strong></h3>
        <img src="http://aplast.com.ua/images/pneomo/1.11.jpg" style="margin-left: 10%;box-shadow: 10px 10px 20px rgba(0,0,0,.2)">

        <a style="position:absolute;margin-left: -7%;z-index: 1000;margin-top: -0.5%;" href="/app/files/4_2_1_fittigs-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

    </div>
</div>