<div class="jumbotron">

    <h3 style="margin-top: -2%;"><strong><span class="glyphicon glyphicon-resize-full"></span> Пневмоблоки подготовки воздуха</strong></h3>

    <div class="container">

        <h4>Блоки предназначены для подготовки сжатого воздуха используемого в пневмоприводах различного назначения.
            Регуляторы служат для поддержания давления сжатого воздуха. Фильтры-влагоуловители с регулятором давления
            применяются для удаления конденсата, очистки сжатого воздуха от капельной влаги и твердых чатсиц.</h4>

        <img src="http://aplast.com.ua/images/pneomo/2-air_source_treatment_unit.jpg" style="width: 100%;height: auto;">

        <a style="position:absolute;margin-left: 38%;z-index: 1000;margin-top: -47%;" href="/app/files/2_1_1_XAC-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 38%;z-index: 1000;margin-top: -28%;" href="/app/files/2_2_1XAR-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 38%;z-index: 1000;margin-top: -13%;" href="/app/files/2_3_1_XAW-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>
    </div>

</div>