<div class="jumbotron">

    <h3><strong><span class="glyphicon glyphicon-resize-full"></span> Пневмораспределители</strong></h3>

    <div class="container">

        <h4><strong>Пневмораспределители.</strong> В наличии на складе электромагнитные(соленоидные),
            с ручным упралением, обратные клапаны и катушки соленоидных клапанов.</h4>

        <img src="http://aplast.com.ua/images/pneomo/3-solenoid_valves.jpg" style="width: 100%;height: auto;">

        <a style="position:absolute;margin-left: 45%;z-index: 1000;margin-top: -45%;" href="/app/files/4V-3V-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 8%;z-index: 1000;margin-top: -24%;" href="/app/files/HV TSV-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 8%;z-index: 1000;margin-top: -15%;" href="/app/files/KA-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 8%;z-index: 1000;margin-top: -5%;" href="/app/files/KLA-tech.pdf">
            <h3><strong>PDF</strong></h3>
        </a>

        <a style="position:absolute;margin-left: 45%;z-index: 1000;margin-top: -10%;" href="http://aplast.com.ua/images/pneomo/TSV-tech.jpg">
            <h3><strong>JPG</strong></h3>
        </a>
    </div>

</div>