<div class="jumbotron">
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4>Ketron PEEK (полиэфирэфиркетон)</h4>
            <p>KETRON PEEK 1000-получен из чистой полиэфирэфирной смолы. Применяется в областях, где требуются улучшенные
                свойства при экстремальных условиях температур, химической агрессивности, сильном радиационном излучении,
                электрических нагрузках и т.д. Таким образом материал находит свое применение как в традиционных механизмах так и в
                аэрокосмической, ядерной, химической областях.
                <p>KETRON PEEK HPV-составлен из компонентов графита, ПТФЕ и углеродных волокон, чем достигается
                высшая механическая прочность, более низкий коэффициент трения и сверхвысокая стойкость к износу. Эти свойства делают материал
                особо приемлемым для изготовления деталей скольжения. KETRON PEEK GF30-данная марка армирована 30% стекловолокна, что придает
                механическую прочность и твердость более высокую чем KETRON PEEK 1000 и KETRON PEEK HPV.</p>
                <p>Материал идеален для условий, при которыхтребуется держать статическую нагрузку в течение длительного времени при повышенных температурах. Применение этого материала для деталей
                скольжения нежелательно, так как стеклянное волокно может повреждать сопряженные поверхности. KETRON PEEK CA 30-данная марка
                армирована 30% углеродного волокна, что придает ей более высокий модуль упругости, механическую прочность и ползучестойкость.
                Область применения. </p>
                <p>Эти материалы применяются для изготовления шестерней, элементов насосов, опор, которые используются в
                аэрокосмической (стойкость к излучению с высокой энергией), ядерной, химической, автомобильной и электротехнической промышленностях,
                а также в различном военном оборудовании.</p>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                   <h4>СВОЙСТВА ПОЛИЭФИРЭФИРКЕТОНА -KETRON PEEK</h4>
                </caption>
                <thead>
                <tr>
                    <th *ngFor="let title of properties.theadTitle">{{title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of properties.tbodyData">
                    <td>{{data.proper}}</td>
                    <td>{{data.unit}}</td>
                    <td>{{data._1000}}</td>
                    <td>{{data.hpv}}</td>
                    <td>{{data.gf30}}</td>
                    <td>{{data.ca30}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>