<div class="jumbotron">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4><strong>Миканит</strong></h4>
            </div>

            <!-- Table -->
            <table class="table table-striped">
                <thead>
                 <th>Наименование товара</th>
                  <th>Розничная цена</th>
                </thead>
                <tbody>
                <tr>
                    <td>Миканит лист 0.5х1000х1200</td>
                    <td>144.00 грн</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><strong>Миканит прокладочный</strong></h4>
            <p>Миканит прокладочный представляет собой композиционный электроизоляционный материал, получаемый путем ручной или
                автоматизированной склейки слюдяных пластин с помощью глифталевого, масляно-глифталевого, кремнийорганического или
                полиэфирного лаков с последующей холодной или горячей сушкой с применением давления..</p>
            <p>Миканит прокладочный выпускается в виде листов, применяется для изготовления электроизоляционных прокладок, шайб и в
                зависимости от вида используемой слюды и клеящего лака делится на три основных марки: ПФГ, ПМГ и ПФК.</p>
            <p>Марка ПФГ представляет собой слюду флогопит, склеенную глифталевым связующим и имеет класс нагревостойкости 130˚С.</p>
            <p>Марка ПМГ состоит из пластин слюды мусковит, склеенных глифталевым связующим и имеет такой же класс нагревостойкости как и марка ПФГ.</p>
            <p>Марка ПФК состоит из пластин слюды флогопит, склеенных теплостойким кремнийорганическим лаком благодаря чему имеет повышенный класс
                нагревостойксти и может длительно эксплуатироваться при температурах до 180˚С.</p>
            <p>Листы прокладочных миканитов имеют ширину и длину 550-900 мм с допуском 15 мм и толщины: 0,15, 0,5, 0,6, 0,7, 0,8, 0,9, 1,0, 1,5, 2,0, 3,0,
                5,0 мм. На заказ возможно изготовление листов и других толщин.</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>Миканит гибкий</strong></h4>
            <p>Миканит ГФС, ГФК, ГМС гибкий представляет собой электроизоляционный материал на основе слюд флогопит или мусковит,
                пропитанной масляно-глифталевым или кремнийорганическим лаком и применяется Миканит гибкий применяется в качестве
                пазовой изоляции в электрических машинах, подбандажной изоляция якорей, гибких прокладок в индукционных катушках.</p>
            <p>Марка ГФС выпускается на основе слюды флогопит и масляно-глифталевого лака. </p>
            <p>Марка ГМС выпускается на основе слюды мусковит и масляно-глифталевого лака. Марки ГФС и ГМС имеют класс нагревостойкости: 130˚С.</p>
            <p>Марка ГФК выпускается на основе слюды флогопит и кремнийогранического лака и может работать до температуры 180˚С.</p>
            <p>Гибкие миканиты выпускаются в листах шириной от 450 до 1100 мм и длиной от 750 до 1100 мм с допуском 30 мм. Листы выпускают следующих толщин:
                0,15, 0,2, 0,25, 0,3, 0,35, 0,4, 0,45, 0,5 мм и других по специальному заказу.</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>Миканит формовочный</strong></h4>
            <p>Формовочные миканиты представляют собой слюдосодержащие листовые электроизоляционные материалы, способные в результате термического воздействия
                приобретать форму трубок, цилиндров, гильз, коллекторных манжет.</p>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4><strong>Технические характеристики</strong></h4>
            </div>

            <!-- Table -->
            <table class="table table-striped">
                <caption><strong>Физико-механические свойства винипласта (по ГОСТ 9639-71):</strong></caption>
                <thead>
                   <th *ngFor="let title of titles">{{title}}</th>
                </thead>

                <tbody>
                 <tr *ngFor="let data of table">
                     <td>{{data.marka}}</td>
                     <td>{{data.row1}}</td>
                     <td>{{data.row2}}</td>
                     <td>{{data.row3}}</td>
                     <td>{{data.row4}}</td>
                     <td>{{data.row5}}</td>
                     <td>{{data.row6}}</td>
                     <td>{{data.row7}}</td>
                     <td>{{data.row8}}</td>
                     <td>{{data.row9}}</td>
                 </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>