<div class="jumbotron">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong>Листовой Пластикат МАРКИ 57-40 </strong></h4>
                </caption>
                <thead>
                <tr>
                    <th>Наименование товара</th>
                    <th>Розничная цена</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Пластикат листовой марки 57-40 3х1000х1400</td>
                    <td>43.34 грн</td>
                </tr>
                <tr>
                    <td>Пластикат листовой марки 57-40 4х1000х1400</td>
                    <td>43.34 грн</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><strong>Пластикат</strong></h4>
            <p>
                Листовой пластикат МАРКИ 57-40 представляет собой термопластичный материал, полученный переработкой поливинилхлоридной
                композиции методом экструзии. Экструзионный способ: смола ПВХ пропускается через экструдер с предварительным разогревом.
                Данным способом производят марки пластиката ПП-В, 57-40 и др Листовые ПВХ пластикаты предназначены для. химической защиты
                оборудования и помещений. Используется также как прокладочный и трудногорючий материал. Устойчив к влаге, имеет стойкость к
                бензину, маслу и огню, также преимуществом является его химическая стойкость к воздействию щелочей и кислот.
            </p>
            <p>Выпускается различной толщины — 1, 2, 3, 4, 5 и 6мм.. Размеры листов 1,0*1,4-1,5метра - ТУ 2246-424-05761784-98.
                Рулоны шириной 1,3м — ТУ 6-05-1146-75.
            </p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>Листовой ПВХ пластикат 57-40 используется:</strong></h4>
            <p>Для защиты от коррозии металлоконструкций, травильных электролизных ванн (эксплуатация при температуре до +70оС) —
                как слой химической защиты, обращенный к реагентам гальванических ванн. Используются также в целях химической защиты
                промышленных помещений и других химических объектов, для покрытия транспорта, специального оборудования и объектов
                при работе с радиоактивными элементами (атомные электростанции, полигоны отходов, свалки, транспортные средства).
            </p>
            <p>Температурный режим при эксплуатировании листовых ПВХ пластикатов составляет от — 15оС до +70оС, п
                ри изготовлении по особой рецептуре от -50оС до +80оС.
            </p>
            <p>
                Высокая прозрачность пластиката марки 57-40 ТУ 2246-424-05761784-98 позволяет контролировать наличие механических
                примесей, способных вызвать течи ванн за счет их растворения реагентами, что наблюдается в случае использования
                непрозрачных защитных материалов. Пластикат химически стоек к действию кислот и щелочей.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong>Пластикат 57-40 технические характеристики</strong></h4>
                </caption>
                <thead>
                <tbody>
                <tr>
                    <td style="text-align: center;" rowspan="3">Наименование показателя</td>
                    <td style="text-align: center;" colspan="2">Норма</td>
                </tr>
                <tr>
                    <td style="text-align: center;">марка 57-40</td>
                    <td style="text-align: center;">марка ПП-В</td>
                </tr>
                <tr>
                    <td style="text-align: center;">ТУ 2246-424-05761784-98</td>
                    <td style="text-align: center;">ТУ 6-02-23-68</td>
                </tr>
                <tr>
                    <td style="text-align: center;">Внешний вид поверхности</td>
                    <td style="text-align: center;">Гладкая с ровными краями. Допускаются по краям отдельные заусенцы. На поверхности по всей ширине допускаются участки шероховатости, наплывов, воздушные и продольные полосы более темных цветов или в виде углублений в пределах допуска по толщине, точечные не выкрашивающиеся включения, поверхностные следы от раздавленных воздушных пузырьков.</td>
                    <td style="text-align: center;">На поверхности допускаются шероховатость, мелкая бугристость, наплывы, поверхностные следы от раздавленных воздушин, внутренние воздушные пузыри и не выкрашивающиеся включения в пределах допусков по толщине.</td>
                </tr>
                <tr>
                    <td>Цвет</td>
                    <td style="text-align: center;" colspan="2">Натуральный или окрашенный</td>
                </tr>
                <tr>
                    <td>Прочность при разрыве, Мпа, (кгс/см2), не менее</td>
                    <td style="text-align: center;" colspan="2">14,2 (145) / 9,8 (100)</td>
                </tr>
                <tr>
                    <td style="text-align: center;">Относительное удлинение при разрыве, %, не менее</td>
                    <td style="text-align: center;">185</td>
                    <td>170</td>
                </tr>
                <tr>
                    <td>Усадка, %, не менее</td>
                    <td colspan="2" style="text-align: center;">1</td>
                </tr>
                <tr>
                    <td>Кислородный индекс, %, не менее</td>
                    <td style="text-align: center;" colspan="2">20</td>
                </tr>
                <tr>
                    <td>Температура хрупкости, °С, не выше</td>
                    <td style="text-align: center;" colspan="2">-30°</td>
                </tr>
                <tr>
                    <td>Допустимая температура эксплуатации, °С</td>
                    <td style="text-align: center;" colspan="2">от -15°С до +70°С</td>
                </tr>
                <tr>
                    <td>Ширина, мм, не менее</td>
                    <td style="text-align: center;">1350±50, листы и рулоны</td>
                    <td style="text-align: center;">1350±50 рулоны</td>
                </tr>
                <tr>
                    <td style="text-align: center;" rowspan="6">Толщина, мм</td>
                    <td style="text-align: center;">1,0±0,2</td>
                    <td style="text-align: center;">1,0±0,3</td>
                </tr>
                <tr>
                    <td style="text-align: center;">2,0±0,5</td>
                    <td style="text-align: center;">2,0±0,5</td>
                </tr>
                <tr>
                    <td style="text-align: center;">3,0±0,5</td>
                    <td style="text-align: center;">3,0±0,5</td>
                </tr>
                <tr>
                    <td style="text-align: center;">4,0±0,5</td>
                    <td style="text-align: center;">3,5±0,5</td>
                </tr>
                <tr>
                    <td style="text-align: center;">5,0±0,5</td>
                    <td style="text-align: center;">4,0±0,5</td>
                </tr>
                <tr>
                    <td style="text-align: center;">6,0±0,6</td>
                    <td style="text-align: center;">5,0±0,5</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>