<div class="jumbotron">
    <div class="container">
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#list" data-toggle="tab" style="font-weight: bold">Лист<span style="padding-left: 20px;" class="glyphicon glyphicon-hdd"></span> </a></li>
                <li><a href="#prutok" data-toggle="tab" style="font-weight: bold">Пруток<span style="padding-left: 20px;" class="glyphicon glyphicon-minus"></span> </a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="list">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4><strong>Полипропилен плита</strong></h4>
                        </div>

                        <!-- Table -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Наименование товара</th>
                                <th>Цена, грн/плита</th>
                                <th>Вес, кг/метр</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of tablePlate">
                                <td  class="noBoldFontWeight">{{row.title}}</td>
                                <td>{{row.price}}</td>
                                <td>{{row.weight}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="prutok">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h4><strong>Лавсан пруток</strong></h4>
                        </div>


                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>Наименование товара</th>
                                    <th>Цена, грн/кг</th>
                                    <th>Вес, кг/плита</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let row of tableBar">
                                    <td  class="noBoldFontWeight">{{row.title}}</td>
                                    <td>{{row.price}}</td>
                                    <td>{{row.weight}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="bs-callout bs-callout-info">
                        <p>Полиэтилентерефталат (лавсан) в плитах и стержнях обладает высокой механической прочностью и ударостойкостью, устойчивостью к истиранию и многократным деформациям при растяжении и изгибе и сохраняет свои высокие ударостойкие и прочностные характеристики в рабочем диапазоне температур от –40 °С до +60 °С.ПЭТ – хороший диэлектрик, электрические свойства полиэтилентерефталата при температурах до 180°С даже в присутствии влаги изменяются незначительно.ПЭТ (Полиэтилентерефталат) в листах и стержнях обладает высокой химической стойкостью к кислотам, щелочам, солям, спиртам, парафинам, минеральным маслам, бензину, жирам, эфиру. Имеет повышенную устойчивость к действию водяного пара.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4>Получение.</h4>
            <p>Полипропилен получают полимеризацией пропилена в присутствии металлокомплексных катализаторов, например, катализаторов
                Циглера-Натта (например, смесь TiCl4 и AlR3): nCH2=CH(CH3) → [-CH2-CH(CH3)-]n Параметры, необходимые для получения
                полипропилена близки к тем, при которых получают полиэтилен низкого давления.
                При этом, в зависимости от конкретного катализатора, может получаться любой тип полимера или их смеси.</p>
            <p>Полипропилен выпускается в виде порошка белого цвета или гранул с насыпной плотностью 0,4-0,5 г/см³.
                Полипропилен выпускается стабилизированным, окрашенным и неокрашенным.</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4>Молекулярное строение</h4>
            <p>По типу молекулярной структуры можно выделить три основных типа: изотактический, синдиотактический и атактический.
                Изотактический и синдиотактический полипропилены относятся к т.н. стереорегулярным полимерам. Изотактический полипропилен —
                полимер, в котором метильные группы направлены в одну сторону от воображаемой плоскости основной цепи; синдиотактический —
                метильные группы строго чередуются; атактический — метильные группы расположены случайным образом.
                Физико-механические свойства.</p>
            <p>В отличие от полиэтилена, полипропилен менее плотный (плотность 0,92 г/см3, что является наименьшим значением вообще для всех
                пластмасс), более твёрдый (стоек к истиранию), более термостойкий (начинает размягчаться при 140°C, температура плавления 175°C),
                почти не подвергается коррозионному растрескиванию.
                Обладает высокой чувствительностью к свету и кислороду (чувствительность понижается при введении стабилизаторов).</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <p>Поведение полипропилена при растяжении ещё в большей степени, чем полиэтилена, зависит от скорости приложения нагрузки и от температуры.
                Чем ниже скорость растяжения полипропилена, тем выше значение показателей механических свойств. При высоких скоростях растяжения разрушающее
                напряжение при растяжении полипропилена значительно ниже его предела текучести при растяжении. Показатели основных физико-механических свойств
                полипропилена приведены в таблице:</p>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    Физико-механические свойства полипропилена
                </caption>

                <tbody>
                <tr *ngFor="let data of properties">
                    <td>{{data._1}}</td>
                    <td>{{data._2}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="bs-callout bs-callout-info">
            <p>Полипропилен – материал в стержнях и листах, отличающийся высокой прочностью при ударе и многократном изгибе,
                износостойкостью, хорошими электроизоляционными свойствами в широком диапазоне температур, высокой химической
                стойкостью, низкой паро- и газопроницаемостью. Стоек к кислотам, щелочам, растворам солей, минеральным и растительным
                маслам при высоких температурах.</p>
        </div>

    </div>

</div>