<div class="jumbotron">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong><span class="glyphicon glyphicon-credit-card"></span> Поликарбонат пруток</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th>Наименование товара</th>
                    <th>Цена, грн/кг</th>
                    <th>Вес, кг/метр</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of production">
                    <td class="noBoldFontWeight" style="font-size: 0.8em">{{data.title}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.weight}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><span class="glyphicon glyphicon-question-sign"></span> PC – Lexan (Поликарбонат)</h4>
            <p>Поликарбонат. Этот аморфный полимер обычно используется в связи с его высокой ударопрочностью, в том числе при
                низких температурах. Этот материал не рекомендуется для использования в механике, даже если формоустойчивость
                делает его подходящим для изготовления точных деталей.</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><span class="glyphicon glyphicon-question-sign"></span> СВОЙСТВА</h4>
            <p>Превосходная ударопрочность. Диэлектрические свойства. Стабильность размеров.
                Цвет: светлый</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><span class="glyphicon glyphicon-question-sign"></span> НЕДОСТАТКИ</h4>
            <p>Данный материал не обладает самосмазывающейся способностью, он разрушается под действием масел и консистентных смазок,
                поэтому он не может считаться подходящим для смазывающихся движущих механических деталей.</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><span class="glyphicon glyphicon-question-sign"></span> ПРИМЕНЕНИЕ</h4>
            <p>Использование в электротехнике: хорошие диэлектрические свойства. Он используется главным образом в этой области.
                Использование в химии: использование PC в химической промышленности не является идеальным вариантом в связи с плохой сопротивляемостью углеводородам. </p>
            <p>Использование в контакте с пищевыми продуктами: физиологически инертный, если натуральный.</p>
            <p>Использование в механике: данный материал используется для точных механизмов, когда требуется хорошая стабильность размеров.</p>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong><span class="glyphicon glyphicon-list-alt"></span> Свойства</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th class="th1">Плотность (г/см3 )</th>
                    <th class="th1">Абсорбция Воды в воздухе 50% о.в.(%)</th>
                    <th class="th1">Абсорбция 23ºС в насыщенном водном растворе(%)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1.2</td>
                    <td>0.2</td>
                    <td>0.4</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong><span class="glyphicon glyphicon-list-alt"></span> Механические свойства</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th style="font-size: 15px;" *ngFor="let title of mechanicalPropertiesTitle">{{title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td *ngFor="let data of mechanicalPropertiesData">{{data}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong><span class="glyphicon glyphicon-list-alt"></span> Термосвойства</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th class="th1" *ngFor="let title of thermalPropertiesTitle">{{title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td *ngFor="let data of thermalPropertiesData">{{data}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong><span class="glyphicon glyphicon-list-alt"></span> Электрические свойства</strong></h4>
                </caption>
                <thead>
                <tr>
                    <th class="th1" *ngFor="let title of electricPropertiesTitle">{{title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td *ngFor="let data of electricPropertiesData">{{data}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>