<div class="jumbotron">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong>Текстолит </strong></h4>
                </caption>
                <thead>
                <tr>
                    <th>Наименование товара</th>
                    <th>Цена, грн/лист</th>
                    <th>	Вес, кг/лист</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of product">
                    <td  class="noBoldFontWeight">{{data.title}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.weight}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>
                {{article.paragraph1}}
            </p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>{{article.paragraph2.title}}</strong></h4>
            <p *ngFor="let text of article.paragraph2.text">{{text}}</p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>{{article.paragraph3.title}}</strong></h4>
            <p *ngFor="let text of article.paragraph3.text">{{text}}</p>
        </div>
    </div>

</div>