<div class="jumbotron">
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-striped">
                <caption>
                    <h4><strong>Текстолит </strong></h4>
                </caption>
                <thead>
                <tr>
                    <th>Наименование товара</th>
                    <th>Цена, грн/лист</th>
                    <th>	Вес, кг/лист</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of product">
                    <td  class="noBoldFontWeight">{{data.title}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.weight}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>
                Текстолит - слоистый пластик, изготовляемый в виде листов из хлопчатобумажной ткани, пропитанной резольной
                фенолоформальдегидной смолой. Для изготовления текстолита различных марок применяется ткань различной плотности и
                переплетения. Обычно применяют ткани полотняного гладкого переплетения основы и утка, при котором число перекрытий
                основы утком максимальное. Иногда также применяют ткани сатинового переплетения с меньшим числом перекрытий основы
                утком, что способствует увеличению прочности материала при растяжении. Характер переплетения нитей оказывает
                существенное влияние и на другие свойства текстолита: ударную вязкость, стойкость к раскалыванию и др. По толщине
                используемые ткани делятся на легкие (до 150г/м2), средние (до 300 г/м2) и тяжелые (свыше 300 г/м2). Наиболее широко
                применяют бязь, миткаль, шифон, бельтинг, ремень.
            </p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>Процесс изготовления текстолита</strong></h4>
            <p>
                Процесс изготовления текстолита состоит из стадий приготовления смолы и лака, подготовки, пропитки и сушки ткани,
                сборки и прессования пакетов, обрезки кромок и дополнительной тепловой обработки. Для пропитки ткани применяют
                спиртовые растворы твердых фенолоформальдегидных (иногда крезолоформальдегидных) смол, содержащих до 14% фенола или
                трикрезола . Спиртовой раствор твердых смол содержит 50-60% сухого остатка. Концентрация лака устанавливается в
                зависимости от типа ткани и назначения текстолита.
            </p>
            <p>
                Стадия подготовки ткани заключается в сшивке отдельных кусков и наматывании рулонов весом до 60 кг на каждую оправку.
                Пропитка тканей осуществляется на горизонтальных, или на вертикальных пропиточно-сушильных машинах.
            </p>
            <p>
                Пропитка происходит следующим образом: ткань погружается в ванну с лаком, по выходе из нее ткань отжимается валиками
                и поступает на сушку в шахту, расположенную над ванной. Для того чтобы понизить вязкость лака его подогревают до 30-40˚С
                горячей водой через рубашку с ванны. Концентрация лака и его количество поддерживаются постоянными. На выходе из ванны ткань
                отжимается специальными валиками. В процессе отжима смола лучше распределяется по ткани, глубже ее пропитывает, а избыток
                смолы удаляется.
            </p>
            <p>
                Ткань нагревается паровыми калориферами, находящимися в шахте и горячим воздухом нагнетаемым в шахту. Время сушки определяется
                толщин
            </p>
            <p>
                После сушки пропитанную ткань разрезают и так же как и собирают в пакеты, которые загружают в пресс.
                Прессование проводят в многоэтажных прессах с нижним давлением. Процесс прессования складывается из стадии прогрева пакетов до необходимой
                температуры, стадии выдержки для осуществления процесса отверждения и стадии охлаждения без снятия давления, которая необходима
                для предотвращения коробления листов.
            </p>
            <p>
                Далее, для обеспечения привлекательного внешнего вида, края отпрессованных листов обрезаются дисковыми пилами и отправляются в
                отдел технического контроля для испытаний показателей качества, после чего перемещаются на склад готовой продукции.
            </p>
            <p>
                Иногда с целью улучшения свойств листы после прессования подвергают дополнительной тепловой обработке. Такая обработка приводит к
                углублению процесса поликонденсации смолы и исчезновению внутренних напряжений в материале.
            </p>
        </div>

        <div class="bs-callout bs-callout-info">
            <h4><strong>Свойства и применение текстолита.</strong></h4>
            <p>
                екстолит выпускается в виде листов различной толщины (от 0,2 до 100мм) различных длин и ширин. Текстолит каждой марки имеет свое преимущественное назначение.
                Поделочный текстолит марок ПТ, ПТК высшего и первого сорта выпускает толщиной от 0,5 до 70 мм с ровной светло-коричневой или
                темно-коричневой поверхностью по ГОСТ 5-78. Текстолит марок А и Б является электротехническим материалом.
            </p>
            <p>
                Свойства текстолита зависят от типа применяемой ткани. Материал на основе тяжелой ткани имеет более высокую ударной
                вязкость по сравнению с материалом на основе легкой ткани, но по другим показателям уступает. Прочность материала
                пропорциональна количеству слоев ткани единицу толщины материала. Наибольшие значения получаются при соотношении
                смолы и ткани 1:1 или некотором близком к этому. На свойства материала влияют также условия прессования. Высокое
                давление при содержании смолы 42-48% приводит к получению материала с более низкими физико-механическими свойствами.
                Текстолит обладает более высокой прочностью на сжатие, удар и лучше сопротивляется к раскалыванию, чем гетинакс,
                однако электроизоляционные свойства немного ниже. Свойства листов неодинаковы в продольном и поперечном направлениях,
                поскольку прочность ткани по основе превышает прочность по утку. Предел прочности на сжатие и изгиб значительно выше в
                направлении, перпендикулярном к слоям. Сопротивление раскалывание зависит от прочности склейки слоев ткани. Эта же
                величина определяет способность материала к механической обработке. Водостойкость и сопротивление раскалыванию чаще
                всего снижаются при при нарушении режима пропитки и сушки ткани и прессования. Более высокая влажность пропитанной и
                высушенной ткани, и пересушка (уменьшение содержания растворимой части смолы) и недостаточное содержание смолы -
                основные причины снижения прочности склейки слоев ткани.
            </p>
            <p>
                Текстолит может длительное время эксплуатироваться при 90-105˚ С под нагрузками, составляющими 50-60% от предела
                прочности, определенного при температуре эксплуатации.
            </p>
            <p>
                Замена хлопчатобумажной ткани найлоновой позволяет получить материал, обладающий хорошими электроизоляционными свойствами и
                более высокой стойкостью к действию влаги и плесени. Такой материал имеет более высокую прочность на удар и выдерживает
                механическую обработку.
            </p>
        </div>
    </div>

</div>