<div class="jumbotron">
    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><strong>Винипласт</strong></h4>
            <p>Винипласт - это непрозрачный материал из ПВХ композиции с добавками вспомогательных присадок (стабилизаторов,
                смазок и др.). Изготавливают винипласт методом прессования или методом экструзии. Листы винипласта применяются
                при изготовлении элементов работающих в агрессивных средах, облицовке аппаратуры и многих других областях.</p>
            <p>Рабочий диапазон температур от 0°С до 60 °С. Допустимо охлаждение до -50°С с потерей пластических свойств.
                Винипласт легко сваривается и склеивается клеем на основе ПВХ и органических растворителей. В диапазоне от 20°С
                до 80 °С обладает выраженными биэлектрическими свойствами, сильно электризуется при трении. Очень стоек к воздействию
                кислот и щелочей - серной кислоты 40% концентрации до 60°С, азотной кислоты 50% концентрации до 50°С, купоросного
                масла до 20°С, смеси кислот азотной и серной, отходящих газов (хлороводород и хлор в смеси с воздухом и водяными
                парами), уксусной кислоты 100% концентрации, муравьиной кислоты до 50% концентрации, аммиака, хлорной извести,
                перекиси водорода 10% концентрации, раствора перманганата концентрированного, раствора солей всех видов, озона,
                кислых и щелочных сточных вод, плавиковой кислоты до 40% при 20°С. Листы не стойки к действию ароматических и
                хлорированных углеводородов, кетонов, сложных эфиров и концентрированной азотной кислоты. При обработке листов
                возможно возникновение электростатического заряда. Не выдерживает воздействия азотной кислоты, органических
                растворителей.</p>
            <h4><strong>Наша компания предлагает пластины из винипласта размером 1000х2000 мм и толщиной 2, 3, 4, 5, 6, 8, 10, 12, 15, 20 мм.</strong></h4>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4><strong>Таблица: Винипласт - физико-механические свойства:</strong></h4>
            </div>

            <!-- Table -->
            <table class="table table-striped">
                <caption><strong>Физико-механические свойства винипласта (по ГОСТ 9639-71):</strong></caption>
                <tbody>
                <tr *ngFor="let row of table">
                    <td>{{row.row1}}</td>
                    <td>{{row.row2}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>