<div class="jumbotron">
    <div class="container" style="margin-top: -2%;">
        <h3><strong><span class="glyphicon glyphicon-inbox"></span> Гальванические ванны и емкости</strong></h3>
        <div class="bs-callout bs-callout-info">
            <p>Гальванические ванны - емкости, содержащие рабочие растворы, в которых выполняются подготовительные, основные
                (процессы нанесения покрытий) и заключительные операции химической или гальванической (электрохимической)
                обработки поверхности деталей, являются основным видом оборудования гальванических линий, цехов и участков.</p>
            <p>Несмотря на чрезвычайное разнообразие применяемых гальванических ванн, к ним предъявляется ряд общих требований:
                герметичность, химическая инертность материала ванны к содержащемуся в ней раствору, возможность создания и
                поддержания заданного теплового режима; удобство и безопасность обслуживания.</p>
            <p>Различие в конструкции гальванических ванн определяется прежде всего особенностями технологического процесса,
                требующими подогрева или охлаждения электролита, перемешивания, качания штанг, непрерывной фильтрации, наложения
                различных физических факторов (ультразвука, магнитного поля, протока электролита и т.п.). Кроме того, для
                электрохимических ванн необходим также подвод электрического тока требуемой полярности и силы с возможно большей
                равномерностью распределения тока по поверхности деталей и меньшими потерями электрического напряжения.</p>
            <p>Полипропилен - наиболее перспективный материал, обладающий высокой химической стойкостью, износостойкостью,
                термостойкостью (до 130 °С без механических нагрузок), высоким сопротивлением ударным нагрузкам, удовлетворительной
                механической прочностью, низким водопоглощением, низкой водо- и паропроницаемостью, высокими диэлектрическими
                свойствами. Полипропилен устойчив к воздействию водных растворов неорганических соединений (солей) и к воздействию
                почти всех кислот и щелочей, даже при высокой их концентрации и температуре выше 60 °С. Только такие сильные
                окислители, как, например, хлорсульфоновая кислота, олеум и концентрированная азотная кислота, могут разрушить
                полипропилен уже при комнатной температуре. Непрерывное понижение химической стойкости полипропилена с последующим
                лавинообразным разрушением имеет место только в электролите для электрополирования коррозионностойких сталей при
                температуре 80 °С. В этом растворе аналогично ведёт себя и винипласт, но уже при температуре 60 °С.</p>
            <p>Высокая химическая стойкость полипропилена в электролитах для нанесения покрытий дополняется тем, что он не
                оказывает влияния на электропроводимость растворов и обладает высокой прочностью. Ванны из полипропилена,
                как правило, изготавливаются из блочных конструкций, уже имеющих ребра жёсткости, и поэтому не требуют
                дополнительной обвязки.</p>
        </div>
    </div>

    <div class="container">
        <div style="margin-left: 20%;">
            <img src="http://aplast.com.ua/images/9.jpg" style="width: 290px;">
            <img src="http://aplast.com.ua/images/Vanna.jpg" style="width: 290px;">
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h3>Промывочные, операционные, травильные ванны и гальванические линии</h3>
            <p>Гальваника — это покрытие металлических конструкций твердым защитным слоем. Этот слой также представляет собой металл.
                Поэтому выделяют такие виды гальванического покрытия, как цинкование, никелирование, хромирование, оловянирование,
                горячее цинкование и пр.</p>
            <p>Но для того, чтобы на металлическую поверхность можно было наносить такое покрытие, она должна быть соответствующим
                образом подготовлена. То есть с нее должны быть удалены жир, ржавчина и другие вредные элементы. Для такой
                обработки применяются промывочные, операционные и травильные ванны.</p>
            <p>Представляют они собой емкости различного объема. Их наполняют агрессивными растворами кислоты. В эти растворы опускают
                металлические конструкции для обработки. Находясь в такой среде, поверхность любого изделия полностью очищается.
                После этого на нее можно наносить олово, цинк, хром никель и другие металлы. Ложась на подготовленную поверхность,
                такое покрытие на долгие годы обеспечит ей надежную защиту и эстетичный внешний вид.</p>
            <p>Говоря о промывочных, операционных и травильных ваннах в производстве, нужно подчеркнуть их особенности.
                Их изготавливают из материалов, которые могут длительное время переносить воздействие кислот и щелочей.
                Как правило это винипласт и пропилен. Некоторые специалисты утверждают, что пропилен— более подходящий материал, и
                ванны из него отличаются наибольшей долговечностью.</p>
            <p>Говоря о промывочных, операционных и травильных ваннах в производстве, нужно подчеркнуть их особенности. Их изготавливают
                из материалов, которые могут длительное время переносить воздействие кислот и щелочей. Как правило это винипласт и
                пропилен. Некоторые специалисты утверждают, что пропилен— более подходящий материал, и ванны из него отличаются наибольшей
                долговечностью.</p>
            <p>При этом рассматриваемые ванны — это оборудование гальванического производства, которое изготавливается с учетом особенностей каждого
                производства. По желанию заказчика обмотка внутренних поверхностей может быть выполнена из различных материалов. Таким
                образом получают изделия, в наибольшей степени подходящие для тех или иных работ.</p>
            <p>Внутреннее пространство этих ванн также планируется в зависимости от потребностей производства. Могут быть установлены перегородки
                для того, чтобы в ванной можно было производить различные операции по обработке металлических поверхностей. Таким образом гальваническое
                производство оптимизируется в зависимости от запросов предприятия.</p>
        </div>
    </div>

    <div class="container">
        <div style="margin-left: 20%;">
            <img src="http://aplast.com.ua/images/10.jpg" style="width: 290px; height: 350px;">
            <img src="http://aplast.com.ua/images/11.jpg" style="width: 290px; height: 350px;">
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <h4><strong>Ниже перечислены недостатки классических материалов, благодаря которым листовой полипропилен применяется для изготовления емкостей во все возрастающих количествах.</strong></h4>

            <h4><strong>Метал</strong></h4>
            <ul>
                <li *ngFor="let text of stone" style="font-size: 14px;">{{text}}</li>
            </ul>

            <h4><strong>Древесина и её производные (фанера мдфи др.)</strong></h4>
            <ul>
                <li *ngFor="let text of wood" style="font-size: 14px;">{{text}}</li>
            </ul>

            <h4><strong>Железобетон</strong></h4>
            <ul>
                <li *ngFor="let text of ferroconcrete" style="font-size: 14px;">{{text}}</li>
            </ul>
        </div>
    </div>
</div>