<div class="jumbotron">
    <div class="container" style="margin-top: -2%;">
        <h3><strong><span class="glyphicon glyphicon-inbox"></span> Жироуловители из полипропилена</strong></h3>
        <div class="bs-callout bs-callout-info">
            <h4><strong>Жироуловитель под мойку - надежная защита канализационных труб от засора.</strong></h4>
            <h4><strong>У ВАС ПОЯВИЛАСЬ ПРОБЛЕМА?....... МЫ ПОМОЖЕМ ЕЁ РЕШЕНИЮ.</strong></h4>
            <p>Злейший враг канализационных труб – жир, который попадает в них в процессе эксплуатации моечных ванн, посудомоечных машин,
                и т.п., словом оборудования, без которого сегодня невозможно представить работу кухни предприятия
                общественного питания (столовые, кафе, рестораны).</p>
            <p>В связи с развитием ресторанного бизнеса, сильно увеличилась нагрузка на систему очистки сточных вод. В соответствии с этим,
                наблюдается ужесточение санкций со стороны контролирующих органов к качеству стоков в городскую систему канализации
                и требования установить жироуловители.</p>
            <p>Компания "VDM пластик", является украинским производителем очистных сооружений для хозяйственно-бытовых сточных вод, и
                производит жироуловители, которые изготавливаются из пищевого пластика (полипропилена).</p>
            <h4><strong>Жироуловитель под мойку.</strong></h4>
            <p>Он размещается непосредственно под ручной мойкой посуды, и используется в канализационных системах для недопущения
                попадания жира и масла бытового и промышленного происхождения в сточные воды. Данный вид жироуловителей обеспечивает
                начальную очистку бытовых стоков, и его главной функцией является отделение жира от воды.
                А так же в жироуловителе остается осадок из взвешенных частиц (остатки еды и т.п.).</p>
            <h4><strong>ЗАЧЕМ НУЖЕН ЖИРООТДЕЛИТЕЛЬ?... Чтобы не было такого.</strong></h4>
            <p>Самый эффективный способ решения проблемы удаления жира из сточных вод – это установка жироуловителя под мойку (жироловки),
                который позволяет отделить жир растительного и животного происхождения от сточных вод, тем самым предотвращая засоры труб.</p>
            <h4>Преимущества жироотделителя:</h4>
            <ul>
                <li style="font-size: 14px;" *ngFor="let text of advantages">{{text}}</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div style="margin-left: 20%;">
            <img src="http://aplast.com.ua/images/15-1-.jpg" width="250" height="186" style="margin-left: -10%;">
            <img src="http://aplast.com.ua/images/8278.jpg" width="200" height="186">
            <img src="http://aplast.com.ua/images/IMG_8665.jpg" width="250" height="186">
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>Удельная эффективность наших жироуловителей весьма высока, так как в зависимости от конкретной модели, жироотделитель (жироулавливатель)
                может перерабатывать до десяти своих внутренних объемов в час, при этом совсем не потребляя электроэнергию.</p>
            <p>Качество очищенной от жира воды после жироотделителя, соответствует нормативам качества для сброса воды в канализацию для ресторанов, кафе,
                столовых и пекарен, что позволяет исключить обрастание и засорение внутренних и наружных канализационных труб.</p>
            <p>При работе жироуловителя не требуется постоянное визуальное наблюдение или контроль со стороны оператора.Ежедневно перед началом рабочего
                дня или смены (при посменной работе) обслуживающий персонал должен выполнить регламентные работы по запуску жироотделителя:Провести
                внешний осмотр оборудования жироулавливателя с целью проверки герметичности соединений и сварных швов, находящихся в зоне
                видимости; Подать в мойку горячую воду с температурой не менее 40°С. Подачу горячей воды следует производить до тех пор, пока
                весь объем воды в жироотделителе не будет заменен свежей.Ежедневно после окончания рабочего дня обслуживающий персонал обязан
                выполнить регламентные работы по удалению из жироотделителя жира и иловых отложений. С жироловки снимается верхняя крышка, из
                неё вынимаются накопившиеся отложения и жироловка промывается горячей водой со сливом отмыва во внутреннюю канализацию здания.
                После отмывки, на жироуловитель одевается верхняя крышка, присоединяется трубопровод, соединяющий устройство с мойкой посуды, проверяется подсоединение
                всех подводящих и отводящих трубопроводов.Затем, необходимо включить подачу воды из крана горячей воды в мойку посуды. Подавать горячую воду до момента
                появления на выходе очищенной воды.</p>
        </div>
    </div>
</div>