<div class="jumbotron">
    <div class="container" style="margin-top: -2%;">
        <h3><strong><span class="glyphicon glyphicon-inbox"></span> КНС</strong></h3>
        <div class="bs-callout bs-callout-info">
            <p>Канализационная насосная станция – это система сооружений и оборудования, созданных для отведения хозяйственно-бытовых
                , ливневых и производственных сточных вод от источника их образования до места сброса.</p>
            <p>Современные автономные насосные станции КНС имеют корпус из полипропилена.</p>
            <h4><strong>Область применения</strong></h4>
            <p>КНС - канализационные насосные станции производства «Апласт» предназначены для перекачивания ливневых или фекальных
                стоков:с площадей, уровень которых находится ниже геодезической отметки приемного коллектора центральной канализации;
                при глубоком и далеком расположении центральной канализации.</p>
            <h4><strong>Оборудованы</strong></h4>
            <p>Насосом бытовым центробежным погружным БЦПО 4-7-А У* предназначенным для отведения сточных и поверхностных вод с
                содержанием крупных механических примесей, линейные размеры которых могут достигать 48 мм. Применяется для осушения
                затопленных помещений, подвалов, погребов, откачивания воды из бассейнов и колодцев, осушения заболоченных почв и
                водоемов. Также насос может использоваться для подачи и перекачки чистой воды из открытых источников. Предназначен
                для автоматической работы в стационарных и переносных условиях. Комплектуется поплавковым выключателем. Поплавковый
                выключатель в насосе предназначен для автоматического включения насоса при достижении откачиваемой водой уровня
                критического значения (уровень «затопления») и автоматического выключения при снижении уровня воды до минимального
                уровня эксплуатации (уровень «откачки»).</p>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
        <table style="width: 65%" class="table table-striped">
            <caption><strong>Характеристики</strong></caption>
            <tbody>
            <tr>
                <td>Номинальный напор, м</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Максимальный напор, м</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Номинальная объемная подача, м3/час</td>
                <td>14,4</td>
            </tr>
            <tr>
                <td>Максимальная рабочая глубина, м</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Максимальный размер перекачиваемых твердых частиц, мм</td>
                <td>48</td>
            </tr>
            <tr>
                <td>Температура перекачиваемой жидкости, oC</td>
                <td>35</td>
            </tr>
            <tr>
                <td>Номинальная потребляемая мощность, кВт</td>
                <td>1,2</td>
            </tr>
            <tr>
                <td>Номинальное напряжение, В</td>
                <td>220</td>
            </tr>
            <tr>
                <td>Масса, кг</td>
                <td>16,5</td>
            </tr>
            <tr>
                <td colspan="2">Условия эксплуатации погружного насоса:</td>
            </tr>
            <tr>
                <td>температура перекачиваемой воды</td>
                <td>1-35o С</td>
            </tr>
            <tr>
                <td>температура воздуха</td>
                <td>1-45o С</td>
            </tr>
            </tbody>
        </table>
        </div>
        <img src="http://aplast.com.ua/images/Nasos.png" style="width: 35%;float:right;margin-top: -60%;">
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>Емкость из полипропилена серого цвета толщиной 5 мм и размерами 700х700х750 мм.</p>
            <p>*Возможно изготовление изделия по индивидуальному заказу.</p>
        </div>
    </div>

</div>