<div class="jumbotron">
    <div class="container" style="margin-top: -2%;">
        <div class="bs-callout bs-callout-info">
            <h4><strong>Бассейны</strong></h4>
            <p>Листовой полипропилен — экологически чистый, прочный и устойчивый к ультрафиолетовому излучению пластик.</p>
            <p>Полипропилен— это отделочный, гидроизоляционный, теплоизоляционный иконструкционный материал одновременно.
                Такая технология (полифузионная термическая сварка) позволяет изготавливать бассейны любых форм и размеров
                в соответствии с пожеланиями заказчика. Устойчивость полипропилена к неожиданным колебаниям температуры,
                характерным для нашего климата, дает возможность не сливать воду из бассейна в холодное время года. Надежная
                система очистки и фильтрации позволяет не менять воду в бассейне в течение 3 — 5 лет. Герметичность бассейна
                из полипропилена не нарушается при встраивании подсветки, противотока, гидромассажа. Пластик выполняет опорную
                функцию и одновременно служит внутренним покрытием бассейна, поэтому возможности такой конструкции более широки
                по сравнению с бассейнами других типов.</p>
        </div>
    </div>

    <div class="container">
        <div style="margin-left: 10%;">
            <img src="http://aplast.com.ua/images/basseyn_ok_1.jpg">
            <img src="http://aplast.com.ua/images/13.1.jpg">
        </div>
    </div>

    <div class="container">
        <div class="bs-callout bs-callout-info">
            <p>1. Очень низкая тепло - паро - газопроницаемость - (низкая теплопроводность полипропиленовой чаши способствует
                поддержанию стабильной температуры воды, это позволяет длительное время сохранять воду бассейна теплой, экономия
                электроэнергии и теплоносителя Т.е. вы не греете землю, воздух и бетон, а только воду).</p>
            <p>2. Обладает высокой механической и ударной прочностью, стойкостью к многократным изгибам - (Прочность полипропилена
                и его устойчивость к сезонным изменениям температуры, характерным для Украинского климата, гарантирует долговременную
                эксплуатацию бассейна, установленного на открытом воздухе).</p>
            <p>3. Полипропиленовая чаша не требует никакой дополнительной отделки и облицовки - (Полипропилен предназначен
                специально для производства и строительства бассейнов. Изготовленная из полипропилена конструкция бассейна не
                требует дальнейшей облицовки чаши специальной плиткой или пленкой, так как внутренняя поверхность чаши полипропиленового
                бассейна уже имеет законченный вид. Поверхность - приятного цвета, легко моется, устойчива к воздействию
                химикатов и красящих веществ, при смачивании не становится скользким, травмобезопасен).</p>
            <p>4. Полипропилен необычайно устойчив к воздействию агрессивной среды: щелочей, кислот, ультрафиолетовым лучам -
                (Полипропилен не вступает ни в одну химическую реакцию. Легко моется, не выцветает, не теряет первоначальный цвет
                и яркость, что приводит к стойкости против выцветания и истирания сроком до 20 лет. За счёт чего можно не опасаться
                за внешний вид вашего бассейна, при
                выборе средств химической отчистки и дезинфекции воды в бассейне).</p>
            <p>5. Материал устойчив к воздействию Высоких и Низких температур - (Что позволяет владельцам как закрытых, так и открытых бассейнов не
                сливать воду на зимний период, а так же использовать открытый бассейн в качестве зимнего катка).</p>
            <p>6. Герметичность чаши бассейна на 100% - (За счет технологии изготовления и уникальных свойств материала,
                емкости бассейна приобретают идеальную герметичность и гидроизоляцию чаши).</p>
            <p>7. Поверхность полипропилена препятствует появлению и размножению на его поверхности грибков, водорослей и других органических соединений -
                (Это свойство полипропилена делает его идеальным с точки зрения дезинфекции и в сто крат сокращает расходы на приобретение
                и применение специальной химии для бассейна).</p>
            <p>8. Широкий спектр вариантов окраски - (Применяемый сегодня полипропилен имеет множество различных цветов и оттенков : светло-голубой, синий,
                темно-синий, белый, зеленый, салатовый, серый. Окраска материала - объемная. Стойкость окраски - не менее 15 лет. На цвет
                не оказывают влияния ни температура (как высокая, так и низкая), ни ультрафиолетовые лучи).</p>
            <p>9. Новейшая Технология. Для изготовления чаши полипропиленовых бассейнов применяется современная технология - \"Полифузионная
                Сварка\" - (Технология резки и сварки полипропилена позволяет выполнить бассейны практически, любых форм и размеров. Это
                могут быть небольшие бассейны или купели в цокольном этаже коттеджа, а также открытые бассейны значительно большего размера, р
                асположенные в саду и органично вписанные в архитектурную планировку вашего участка. Пластиковый бассейн можно установить не
                только на участке, но и на цокольном этаже дома, в бане или сауне. Благодаря полипропилену любая, даже самая смелая фантазия
                архитектора и дизайнера может
                воплотиться в реальный бассейн для дачи оригинальной формы).
            </p>
            <p>10. Комплект оборудования для полипропиленовых бассейнов может быть таким же, как и для железобетонных - (При этом 100%-ная
                герметичность сохраняется, Герметизация закладных (скиммеров, возвратных и гидромассажных форсунок, фланцев, противотоков,
                подводных прожекторов, аэромассажных плато) производится непосредственно в полипропиленовом листе и с помощью специальных
                прокладок и болтовых соединений).</p>
            <p>11. Исключение из обычного технологического цикла таких трудоемких и дорогостоящих процессов, как проектирование бассейна,
                изготовление железобетонной чаши бассейна, герметизация бассейна, выравнивание чаши бассейна, гидроизоляция
                бассейна, облицовка отделочными материалами такими как мозайка плитка или плёнка - (Позволяет ЗНАЧИТЕЛЬНО снизить
                сроки изготовления бассейна и его стоимость.</p>
            <p>12. Технология изготовления бассейна из полипропилена, позволяет уменьшить в 1,5-2,5 раза стоимость изготовления бассейна, по отношению к
                традиционным технологиям - (Подумайте сами, зачем платить дорого за технологию прошлого, когда в два-три раза дешевле,
                построить бассейн по новой европейской технологии да ещё и с запасом прочности и качества?)</p>
        </div>
    </div>

    <div class="container">
        <h2 style="margin-left: 35%;"><strong>Наши работы</strong></h2>
        <div style="margin-left: 10%;">
            <table>
                <tr style="margin-bottom: 10px;">
                    <td align="center"><img src="http://aplast.com.ua/images/bas/1.jpg" width="290" style="margin-right: 10px;"></td>
                    <td><img src="http://aplast.com.ua/images/bas/4.jpg" width="290"></td>
                </tr>
                <tr>
                    <td><img src="http://aplast.com.ua/images/bas/2.jpg" width="290"></td>
                    <td><img src="http://aplast.com.ua/images/bas/3.jpg" width="290"></td>
                </tr>
                <tr>
                    <td><img src="http://aplast.com.ua/images/bas/5.jpg"width="290">  </td>
                    <td><img src="http://aplast.com.ua/images/bas/6.jpg" width="290"></td>
                </tr>
                <tr>
                    <td><img src="http://aplast.com.ua/images/bas/DSC01135.jpg" width="290"> </td>
                    <td><img src="http://aplast.com.ua/images/bas/IMG_9848.jpg" width="290"></td>
                </tr>
            </table>


        </div>
    </div>
</div>