<div class="jumbotron">

    <h3 style="margin-top: -2%;"><strong><span class="glyphicon glyphicon-resize-full"></span> Пневмоцилиндры серии SC</strong></h3>

    <div class="container">

        <h4><strong>Пневматика</strong>. В наличии на складе пневмоцилиндры, блоки подготовки воздуха, соленоидные клапаны, фитинги и комплектующие.</h4>
        <img src="http://aplast.com.ua/images/pneomo/1_4.1.jpg" style="width: 50%;height: auto; box-shadow: 10px 10px 15px rgba(0,0,0,.2)">

        <div class="right-panel" style="float: right; width: 45%;margin-top: -2%;">
            <div class="bs-callout bs-callout-info">
                <h4><strong>Пневмоцилиндры серии SC</strong></h4>
                <p style="font-size: 14px;">Серия стандартных пневмоцилиндров с круглым корпусом на шпильках.</p>
                <ul>
                    <li style="font-size: 14px;" *ngFor="let text of list">{{text}}</li>
                    <li  style="font-size: 14px;"><strong>Технические характеристики
                        <a href="/app/files/SC_tech.pdf">PDF</a></strong>
                    </li>
                </ul>
            </div>
        </div>
        <img src="http://aplast.com.ua/images/pneomo/SC.jpg" style="width: 100%;height: auto; box-shadow: 10px 10px 15px rgba(0,0,0,.2)">
    </div>

</div>