<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://novoe-izmerenie.com/uploads/images/catalog/2013/08/shk4dtekug.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Пневмоцилиндр</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer;margin-top: 11.5%;"><span class="glyphicon glyphicon-credit-card"></span> Уточнайте</h4>
                <p style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign"></span> Пневмоцилиндры стандартные, компактные и серии mini производятся диаметром от 16 до 200 мм, ходом до... </p>
                <p><a class="btn btn-primary btn-lg" [routerLink]="['/Pneumatics/Pneumatic-cylinders']" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>

            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://www.pnevmo.com/upload/iblock/f05/%20mhsrgkpylczxox%20l%20afzsuhgrcfsimtytfgmxm%20w%20nkiqjffgrflryg%20yfxbkqjxkir.%20podna%203%20a%204.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Пневмораспределители (клапаны).</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> Уточнайте</h4>
                <p style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign"></span> Пневмораспределители (клапаны). В наличии на складе электромагнитные (соленоидные), с ручным управлением... </p>
                <p><a class="btn btn-primary btn-lg" [routerLink]="['/engineering-plastic']" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>

            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://www.ua.all.biz/img/ua/catalog/233063.jpeg" style="width: 140px; height: 140px;">
                <h3><strong>Пневмоблоки подготовки воздуха</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> Уточнайте</h4>
                <p style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign"></span> Пневмоблоки подготовки воздуха. В наличии с присоединительными размерами 1/4", 1/2" и 3/8", с регулятором и фильтром.... </p>
                <p><a class="btn btn-primary btn-lg" [routerLink]="['/engineering-plastic']" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>

            <div class="col-md-4" style="margin-top: 2%;">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://troynik.com.ua/upload/medialibrary/adf/vidy_fitingov_dlya_metalloplastikovy_h_trub.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Комплектующие.</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> Уточнайте</h4>
                <p style="font-size: 14px;"><span class="glyphicon glyphicon-info-sign"></span> В наличии на складе крепежные элементы для монтажа пневмоцилиндров и пневматических систем.... </p>
                <p><a class="btn btn-primary btn-lg" [routerLink]="['/engineering-plastic']" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>

        </div>
    </div>
</div>