<div class="jumbotron">
    <div class="container">
        <div class="row" style="margin-left: 5px;margin-top: 2%;">
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://aplast.com.ua/images/bas/4.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Басейны</strong> </h3>
                <h4 style="color: #5bc0de;cursor: pointer;padding-top: 8.5%;"><span class="glyphicon glyphicon-credit-card"></span> Уточнайте</h4>
                <hr>
                <p style="font-size: 14px;">Листовой полипропилен — экологически чистый, прочный и устойчивый к ультрафиолетовому излучению пластик... </p>
                <p><a class="btn btn-primary btn-lg" role="button" [routerLink]="['/PolypropyleneProducts/Pool']"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://aplast.com.ua/images/9.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Гальванические ванны и емкости</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> От 81.07 грн.</h4>
                <hr>
                <p style="font-size: 14px;">Листовой полипропилен — экологически чистый, прочный и устойчивый к ультрафиолетовому излучению пластик... </p>
                <p><a class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://aplast.com.ua/images/bas/4.jpg" style="width: 140px; height: 140px;">
                <h3><strong>Жироуловители из полипропилена</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> От 81.07 грн.</h4>
                <hr>
                <p style="font-size: 14px;">Листовой полипропилен — экологически чистый, прочный и устойчивый к ультрафиолетовому излучению пластик... </p>
                <p><a class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>
        </div>

        <hr>
        <div class="row" style="margin-left: 5px;margin-top: 2%;">
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://aplast.com.ua/images/Nasos.png" style="width: 140px; height: 140px;">
                <h3><strong>КНС</strong>    </h3>
                <h4 style="color: #5bc0de;cursor: pointer"><span class="glyphicon glyphicon-credit-card"></span> От 81.07 грн.</h4>
                <hr>
                <p style="font-size: 14px;">Листовой полипропилен — экологически чистый, прочный и устойчивый к ультрафиолетовому излучению пластик... </p>
                <p><a class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> Подробнее »</a></p>
            </div>
        </div>

    </div>
</div>